{% extends "CleentfaarSudokuBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets './bundles/happyrselect2/css/select2.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <div id="SudokuContainer">
        <div class="row" id="content-wrapper">
            <form action="{{ path('cleentfaar_sudoku_solve') }}" method="post" id="SudokuForm">
                <div class="col-xs-12" id="SudokuGrid"></div>
                <div class="sudoku-actions">
                    <a class="btn sudoku-action" id="GenerateGrid" href="{{ path('cleentfaar_sudoku_generate') }}/">{{ 'Generate new grid'|trans() }}</a>
                    <select name="number_of_clues" id="NumberOfClues">
                    {% for clue in 17..80 %}
                        <option value="{{ clue }}">{{ clue }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="btn sudoku-action">{{ 'Solve this grid'|trans() }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@HappyRSelect2Bundle/Resources/public/js/select2.min.js'
    '@CleentfaarSudokuBundle/Resources/public/js/sudoku.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $("#SudokuGrid").sudoku({
                setup: {
                    {% for cellKey,cellValue in grid %}
                        '{{ cellKey }}': '{{ cellValue }}'{% if loop.last is not sameas(true) %},{% endif %}
                    {% endfor %}
                },
                debug: true
            });
            $("#GenerateGrid").click(function(e){
                e.preventDefault();
                var url = $(this).attr('href') + $("#NumberOfClues").val();
                window.location.href = url;
                return;
            })
            $("select").select2({
                placeholder: '-'
            });
        });
    </script>
{% endblock %}